// color variables
$primary-color: #FFFFFF;

$secondary-color: #7853F1;
$secondary-color-lighten:  #7853F1CC;
$ext-secondary-color: #9375F4;

$tertiary-color: #E5DEFF9E;
$tertiary-color-lighter: #F4F2FF99;
$tertiary-color-dark:#C4C4C433;





$ext-articles:#EFEBFF;
$dark-ext-articles: #020202;
$dark-ext-articles-lighten:  #02020280;

$articles: #2D1D60;
$articles-lighten: #2D1D6080;





// fonts variables
$text-font: poppins;
$h1-fs: 2.1rem;
$h2-fs:1.25rem;
$h3-fs:1.5625rem;
$p-fs:0.94rem;
$ext-h2-fs:1.875rem;
$ext-p-fs:1.25rem;

$btn-fs:1.125rem;
$big-btn-fs:1.25rem;
$ext-big-btn-fs:1.5625rem;

$big-fw:600;
$medium-fw:500;
$normal: 300;
$laptop: 980px;

// 