// global-text-colors

h1, h2 {
  color: $articles;
}

p {
  color: $articles-lighten;
}
//  colors
.mainBackground {
  background-color: $tertiary-color;
  p {
    color: $articles;
  }
}

.second-section-background {
  background-color: $tertiary-color-lighter;
}

.third-section-background {
  background-color: $tertiary-color-dark;
}

.fourth-section-background {
  background-color: $secondary-color-lighten;
  h2, p {
    color: $ext-articles;
  }
}

.fifth-section-background {
  background-color: $primary-color;
  border-bottom: 1px solid rgba(45, 29, 96, 0.3);;
}

.sixth-section-background {
  background-color: $primary-color;
}

.footer-background {
  background-color: $ext-secondary-color;
  p {
    color: $primary-color;
  }
}

.questions-paragraph {
  color: $articles;
}

// button-colors

.btn {
  background-color: $secondary-color;
  border: none;
  color: $primary-color;
}

.btn-contact {
  border: 3px solid #FBFAFF;
  background-color: $secondary-color;
}

.btn-price {
  background-color: $ext-secondary-color;
  color: $primary-color;
  border: none;
}

#ext-btn-price {
  background-color: $primary-color;
  border: 2px solid $secondary-color;
  color: #0EE99C;
}

.btn-contact-light {
  background-color: $primary-color;
  color: $secondary-color;
  border: 2px solid $secondary-color;
}

