.nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  min-height: 4.125rem;
  align-items: center;

  img {
    max-width: 100%;
  }

  .nav__link {
    width: 40%;
  }
}

.hamburger {
  margin-left: auto;
}