header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  background-color: #fff;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
    .logo {
      width: 25%;
      align-self: center;
    }

    .nav__list {
      position: fixed;
      inset: 0 0 0 0;
      padding: 20vh 2rem;
      background-color: hsla(0, 0%, 100%, 1);
      z-index: 1000;
      display: flex;
      flex-direction: column;
      @media (min-width: $laptop) {
        flex-direction: row;
        position: static;
        background-color: #00000000 !important;
        backdrop-filter: none !important;
        padding: 2vh 2rem;
        gap: 1em;
      }
      @supports (backdrop-filter: blur(2em)) {
        background-color: hsla(0, 0%, 100%, 0.2);
        backdrop-filter: blur(2em);
      }
      .nav__link {
        color: $articles;
        font-weight: $big-fw;
        line-height: 4;
        font-size: 0.9rem;
      }

      .nav__link--button {
        color: #fff;
        background-color: $secondary-color;
        padding: 1em 1.25em;
        border-radius: 7px;
      }
    }
    .toggle {
      z-index: 1000;
      @media (min-width: $laptop) {
        display: none;
      }
    }
  }
}
