*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

p {
  font-size: 0.94rem;
  font-weight: 300;
}

h1 {
  font-weight: 600;
  font-size: 2.1rem;
}

h2 {
  font-weight: 500;
  font-size: 1.25rem;
}

.none, .none_m {
  display: none;
}

@media (min-width: 980px) {
  .none_m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container {
  width: 80%;
  max-width: 600px;
  padding: 4em 0;
  /* added for nav-toggle positioning */
  position: relative;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  padding: 2em 0;
}

.btn, .btn-contact {
  padding: 1.0625em 3.75em;
  border-radius: 7px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.btn-price, .btn-contact-light {
  width: 100%;
  border: 2px solid #7853F1;
  border-radius: 7px;
  padding: 1em;
  max-width: 350px;
}

.btn:hover, .btn-contact:hover {
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: ease;
  transition: ease;
}

.btn-price:hover, .btn-contact-light:hover {
  letter-spacing: 2px;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  background-color: #fff;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}

header .container .logo {
  width: 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .container .nav__list {
  position: fixed;
  inset: 0 0 0 0;
  padding: 20vh 2rem;
  background-color: white;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 980px) {
  header .container .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    background-color: #00000000 !important;
    -webkit-backdrop-filter: none !important;
            backdrop-filter: none !important;
    padding: 2vh 2rem;
    gap: 1em;
  }
}

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  header .container .nav__list {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(2em);
            backdrop-filter: blur(2em);
  }
}

header .container .nav__list .nav__link {
  color: #2D1D60;
  font-weight: 600;
  line-height: 4;
  font-size: 0.9rem;
}

header .container .nav__list .nav__link--button {
  color: #fff;
  background-color: #7853F1;
  padding: 1em 1.25em;
  border-radius: 7px;
}

header .container .toggle {
  z-index: 1000;
}

@media (min-width: 980px) {
  header .container .toggle {
    display: none;
  }
}

.mainBackground {
  margin-top: 75px;
}

.social-media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media .item4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.social-media .item7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.social-media .item6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

.social-media .social-media--col {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.excel {
  padding-top: 2em;
}

.excel, .demo-certificate {
  padding-bottom: 2em;
}

.price-list + .price-list {
  margin-top: 2rem;
}

.price-tag {
  border: 2px solid #7853F1;
  max-width: 350px;
  border-radius: 21px;
  padding: 1.18em 1.18em 2.8em;
  margin: 0 auto 2rem;
}

.price-tag .package {
  width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid #02020280;
}

.price-tag .amount p {
  padding: 1em 0;
}

.package-list {
  text-align: left;
}

.package-list .list {
  padding: 0;
}

.package-list img {
  margin-right: 1rem;
}

.faqs {
  margin-bottom: 2rem;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.25em;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.questions .questions-paragraph {
  width: 80%;
  text-align: left;
}

.questions .arrow {
  width: 5%;
}

.questions + .questions {
  margin-top: 1rem;
}

.contact-text {
  margin: 2rem 0;
}

.footer-col {
  margin-bottom: 2rem;
}

.footer-col .footer-list {
  padding: 1.6em 0 0;
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: 2rem auto;
}

.footer-icon + .footer-icon {
  margin-left: 1rem;
}

.footer-row {
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
}

.footer-row .main {
  font-weight: 600;
}

h1, h2 {
  color: #2D1D60;
}

p {
  color: #2D1D6080;
}

.mainBackground {
  background-color: #E5DEFF9E;
}

.mainBackground p {
  color: #2D1D60;
}

.second-section-background {
  background-color: #F4F2FF99;
}

.third-section-background {
  background-color: #C4C4C433;
}

.fourth-section-background {
  background-color: #7853F1CC;
}

.fourth-section-background h2, .fourth-section-background p {
  color: #EFEBFF;
}

.fifth-section-background {
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(45, 29, 96, 0.3);
}

.sixth-section-background {
  background-color: #FFFFFF;
}

.footer-background {
  background-color: #9375F4;
}

.footer-background p {
  color: #FFFFFF;
}

.questions-paragraph {
  color: #2D1D60;
}

.btn, .btn-contact {
  background-color: #7853F1;
  border: none;
  color: #FFFFFF;
}

.btn-contact {
  border: 3px solid #FBFAFF;
  background-color: #7853F1;
}

.btn-price, .btn-contact-light {
  background-color: #9375F4;
  color: #FFFFFF;
  border: none;
}

#ext-btn-price {
  background-color: #FFFFFF;
  border: 2px solid #7853F1;
  color: #0EE99C;
}

.btn-contact-light {
  background-color: #FFFFFF;
  color: #7853F1;
  border: 2px solid #7853F1;
}

@media only screen and (min-width: 980px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  h1 {
    font-weight: 600;
    font-size: 4.1rem;
    text-align: center;
  }
  h2 {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
  }
  p {
    font-size: 1.15rem;
    text-align: left;
  }
  .row {
    width: 90%;
    max-width: 1200px;
  }
  header .container {
    padding: 0;
  }
  .mainBackground .col {
    padding-inline: 4rem;
    text-align: center;
  }
  .mainBackground p {
    font-size: 1.875rem;
  }
  .second-section-background .row, .third-section-background .row, .fourth-section-background .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second-section-background .col, .third-section-background .col, .fourth-section-background .col {
    width: 47%;
  }
  .second-section-background .col .btn, .second-section-background .col .btn-contact, .third-section-background .col .btn, .third-section-background .col .btn-contact, .fourth-section-background .col .btn, .fourth-section-background .col .btn-contact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .social-media {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social-media .item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
  .social-media .item2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
  }
  .social-media .item3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .social-media .item4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
  .social-media .item5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2/3/3/4;
  }
  .social-media .item6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .social-media .item7 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/2/4/3;
  }
  .social-media .item8 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 3/3/4/4;
  }
  #certificate {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #dashboard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .fourth-section-background .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .fifth-section-background .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fifth-section-background .col:first-child {
    width: 100%;
  }
  .fifth-section-background .col:not(:first-child) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .fifth-section-background .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fifth-section-background .price .price-list + .price-list {
    margin-left: 2rem;
  }
  .fifth-section-background .price-text, .fifth-section-background .price-note {
    text-align: center;
    font-weight: 600;
    font-size: 1.5625rem;
  }
  .fifth-section-background .list {
    font-size: 0.9rem;
    color: #020202;
  }
  .fifth-section-background #first-price-tag {
    margin-top: 2rem;
  }
  #faq {
    text-align: center;
  }
  .faqs-col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .faqs-col #question {
    margin-top: 0;
  }
  .contact-text {
    text-align: center;
  }
  .footer-row {
    width: 90%;
    margin: 0 auto 4rem;
    padding: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .end-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright {
    font-size: 0.7rem;
    white-space: nowrap;
  }
}
/*# sourceMappingURL=index.css.map */